.hello {
  background-color: #efefef;
  border: 1px solid #dedede;
}

.row {
  float: left;
  clear: both;
}

.cell {
  width: 10px; height: 10px;
  margin: 1px;
  float: left;
  background-color: #fdfdfd;
  border: 1px solid #fff;
  transition: background-color 50ms linear;

}

.cell.alive {
  transition: background-color 50ms linear;
  background-color: #00CC99;
  border-color: #0066CC;
}

.cell.dead {
  transition: background-color 250ms linear;
  background-color: #CCFFFF;
}
